/*   Viewport Sizes   */
$vp_xxs: 380px;
$vp_xs: 575px;
$vp_sm: 767px;
$vp_m: 992px;
$vp_lg: 1200px;
$vp_xl: 1680px;
$vp_xxl: 1920px;
/*   /Viewport Sizes   */

/*   Colors   */
$primary: rgb(52, 80, 115);
// $primary-dark: rgb(36, 54, 101);
// $primary-darker: rgb(54, 71, 102);
$secondary: rgb(135, 199, 245);
// $secondary-dark: rgb(131, 140, 172);
// $light-red: rgb(255, 145, 142);
// $dark-red: rgb(170, 21, 17);
// $tertiary: rgb(242, 223, 104);
// $quartiary: rgb(51, 51, 51);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$off-white: rgb(241, 243, 245);
$gray: rgb(153, 153, 153);
$dark: rgb(51, 51, 51);
$darker: rgb(25, 25, 25);
/*   /Colors   */

/*   Fonts   */
$font-fam-primary: 'Roboto', helvetica, arial, sans-serif;
$font-fam-secondary: 'PT Serif', 'Times New Roman', serif;
/*   /Fonts   */

$active: '&:hover,&:focus,&:focus-within,&.active';

/*   Smooth Transition    */
/*-----TRANSITIONS------*/
$smooth-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
.smooth-transition {
	transition: $smooth-transition;
}
@mixin smoother-transition {
	transition: $smooth-transition;
	backface-visibility: hidden;
}
@mixin smoothest-transition {
	@include smoother-transition;
	transform: translateZ(0);
}
.smoother-transition {
	@include smoother-transition;
}
.smoothest-transition {
	@include smoothest-transition;
}

$border-radius-theme-style: 10%;
$card-style: 0 .25rem .25rem rgba($black, 0.16);
$border-card-style: 1px solid rgba($dark, .1);
@mixin card-style {
	box-shadow: $card-style;
}
.card-style {
	@include card-style;
}
@mixin theme-card-style {
	border-radius: $border-radius-theme-style;
	border: $border-card-style;
	@include card-style;
}
.theme-card-style {
	@include theme-card-style;
}
@mixin flex-margin( $margin ) {
	margin: -$margin;
	> * {
		margin: $margin;
	}
}