/*   Viewport Sizes   */
$vp_xxs: 380px;
$vp_xs: 575px;
$vp_sm: 767px;
$vp_m: 992px;
$vp_lg: 1200px;
$vp_xl: 1680px;
$vp_xxl: 1920px;
/*   /Viewport Sizes   */

/*   Colors   */
$primary: rgb(52, 80, 115);
// $primary-dark: rgb(36, 54, 101);
// $primary-darker: rgb(54, 71, 102);
$secondary: rgb(135, 199, 245);
// $secondary-dark: rgb(131, 140, 172);
$light-red: rgb(255, 145, 142);
$dark-red: rgb(170, 21, 17);
$tertiary: rgb(242, 223, 104);
$quartiary: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
$off-white: rgb(245, 245, 245);
$gray: rgb(153, 153, 153);
$dark: rgb(51, 51, 51);
$darker: rgb(25, 25, 25);
/*   /Colors   */

/*   Smooth Transition    */
/*-----TRANSITIONS------*/
$smooth-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
.smooth-transition {
	transition: $smooth-transition;
}
@mixin smoother-transition {
	transition: $smooth-transition;
	backface-visibility: hidden;
}
@mixin smoothest-transition {
	@include smoother-transition;
	transform: translateZ(0);
}
.smoother-transition {
	@include smoother-transition;
}
.smoothest-transition {
	@include smoothest-transition;
}

$active: "&:hover,&:focus,&.active";

$border-radius-theme-style: .25em .25em 0 .25em;