/*   Viewport Sizes   */
$vp_xxs: 380px;
$vp_xs: 576px;
$vp_sm: 768px;
$vp_m: 992px;
$vp_lg: 1200px;
$vp_xl: 1680px;
$vp_xxl: 1920px;
/*   /Viewport Sizes   */

/*   Colors   */
$primary-light: rgb(70, 103, 145);
$primary: rgb(52, 80, 115);
$primary-dark: rgb(2, 39, 77);
// $primary-darker: rgb(54, 71, 102);
$secondary-light: rgb(203, 231, 251);
$secondary: rgb(135, 199, 245);
$secondary-dark: rgb(16, 122, 198);
// $light-red: rgb(255, 145, 142);
// $dark-red: rgb(170, 21, 17);
// $tertiary: rgb(242, 223, 104);
// $quartiary: rgb(51, 51, 51);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$off-white: rgb(241, 243, 245);
$gray: rgb(112, 112, 112);
$dark: rgb(51, 51, 51);
$darker: rgb(25, 25, 25);
/*   /Colors   */

/*   Fonts   */
$font-fam-primary: 'Roboto', helvetica, arial, sans-serif;
$font-fam-secondary: 'PT Serif', 'Times New Roman', serif;
/*   /Fonts   */

$active: '&:hover,&:focus,&:focus-within,&.active';

/*   Smooth Transition    */
/*-----TRANSITIONS------*/
$smooth-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
@mixin smooth-transition {
	transition: $smooth-transition;
}
@mixin smoother-transition {
	@include smooth-transition;
	backface-visibility: hidden;
}
@mixin smoothest-transition {
	@include smoother-transition;
	transform: translateZ(0);
}

$border-radius-theme-style-em: 0.435em;
$border-radius-theme-style-rem-sm: 1.5rem;
$border-radius-theme-style-rem-lg: 3rem;
$card-style: 0 .2rem .5rem .05rem rgba(0,0,0,.20);
$border-card-style: 1px solid rgba($dark, .1);
$background-blur: blur(5px) brightness(2.2);
@mixin card-style {
	box-shadow: $card-style;
}
@mixin theme-card-style( $border-radius: $border-radius-theme-style-em ) {
	border-radius: $border-radius;
	// border: $border-card-style;
	@include card-style;
}
@mixin flex-margin( $units, $padding: false ) {
	margin: -$units;
	> * {
		@if $padding {
			padding: $units;
		} @else {
			margin: $units;
		}
	}
}
@mixin leading-p {
	font-size: 2.5rem;
}
@mixin prominent-p {
	font-weight: 500;
	font-size: 3rem;
}
@mixin background-blur {
	backdrop-filter: $background-blur;
}

@mixin primary-gradient {
	background-image: linear-gradient(45deg,$primary, $primary-light);
}
@mixin white-gradient {
	background-image: linear-gradient(45deg, $off-white, rgb(251, 251, 251));
}

@mixin btn {
	font-size: 1.8rem;
	font-weight: 600;
}
@mixin btn-theme-style {
	color: $primary;
	background-color: $secondary;
	border-radius: 0.435em;
	padding: .25em .5em;
	line-height: 1.5;
	@include smoothest-transition;
	&[aria-expanded="true"],
	#{$active} {
		color: $white;
		background-color: $primary;
		box-shadow:$card-style, inset 0 0 0 1px rgba($white, 0.16)
	}
}
@mixin btn-color-primary {
	color: $white;
	background-color: $primary;
	&[aria-expanded="true"],
	#{$active} {
		background-color: $primary-light;
	}
}
@mixin btn-color-white {
	background-color: $white;
	&[aria-expanded="true"],
	#{$active} {
		color: $primary;
		background-color: $off-white;
	}
}
@mixin btn-large {
	font-size: 3rem;
}
$landscape-percentage: 56.25%;
@mixin before-spacer( $pad-bottom: $landscape-percentage ) {
	position: relative;
	&:before {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: $pad-bottom;
	}
}

$thin-gray-line: 1px solid rgba($gray, 0.35);

@mixin font-awesome-font {
	font-weight: 900;
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
}