@import 'variables';

/*   Common   */


body {
	color: $dark;
	&.xten-theme-color-bg {
		background-color: $white;
	}
}
body,
.font-fam-primary,
h2,
.xten-h2 {
	font-family: $font-fam-primary;
}
h1,
.xten-h1,
h2,
.xten-h2,
h3,
.xten-h3,
h4,
.xten-h4,
h5,
.xten-h5,
h6,
.xten-h6,
.font-fam-secondary {
	font-family: $font-fam-secondary;
}
h1,
.xten-h1,
h2,
.xten-h2,
h3,
.xten-h3,
h4,
.xten-h4,
h5,
.xten-h5,
h6,
.xten-h6 {
	&.font-fam-primary {
		font-family: $font-fam-primary;
	}
}
h1,
.xten-h1 {
	+ h2,
	+ .xten-h2 {
		color: $primary;
		font-family: $font-fam-primary;
		@at-root .theme-content & {
			+ h3,
			+ .xten-h3 {
				font-size: 2rem;
				font-family: $font-fam-primary;
			}
		}
	}
}

.smooth-transition {
	transition: $smooth-transition;
}
.smoother-transition {
	@include smoother-transition;
}
.smoothest-transition {
	@include smoothest-transition;
}
.card-style {
	@include card-style;
}
.theme-card-style {
	overflow: hidden;
	@include theme-card-style;
	&.sm {
		@include theme-card-style($border-radius-theme-style-rem-sm);
	}
	&.lg {
		@include theme-card-style($border-radius-theme-style-rem-lg);
	}
}
.leading-p {
	@include leading-p;
}
.prominent-p {
	@include prominent-p;
}
.background-blur {
	@include background-blur;
}
.xten-theme-color-primary {
	color: $primary;
}
.xten-theme-color-secondary {
	color: $secondary;
}
.xten-theme-bg-primary {
	background-color: $primary;
}
.xten-theme-bg-secondary {
	background-color: $secondary;
}

.btn {
  @include btn;
	&.btn-theme-style {
		@include btn-theme-style;
		&.btn-color-primary {
			@include btn-color-primary;
		}
		&.btn-color-white {
			@include btn-color-white;
		}
	}
	&.btn-large {
		@include btn-large;
	}
}

.fa-phone {
	&.phone-icon-fix {
		transform: translateZ(0) rotate(137.5deg);
	}
}

.xten-section-heading {
	line-height: 1;
	max-width: 100rem;
}
.xten-section-description {
  max-width: 110rem;
}
.xten-section-heading,
.xten-section-description {
  text-align: center;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}
#page {
	background-color: transparent;
}

.section {
	padding-top: 12rem;
	padding-bottom: 12rem;
}
.primary-gradient {
	@include primary-gradient;
}
.white-gradient {
	@include white-gradient;
}
.alt-bg {
	&:nth-child(2n+1) {
		@include white-gradient;
		.xten-section-heading {
			color: $primary;
		}
		.xten-section-description {
			color: $dark;
		}
	}
	&:nth-child(2n) {
		@include primary-gradient;
		.xten-section-heading,
		.xten-section-description  {
			color: $white;
		}
	}
}
/*   Hero Banner   */
.xten-hero-banner-w-divider-wrapper {
	&.entry-header {
		margin-bottom: 0;
	}
}
.xten-hero-banner-w-divider {
	> * {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 10.5rem);
	}
	&.half-banner {
		> * {
			min-height: calc(62.432vh - 10.5rem);
		}
	}
	.xten-section-hero {
		flex: 1;
		display: flex;
	}
	.xten-component-hero {
		flex: 1;
	}
	.sizeHero {
		min-height: 33vmin !important;
	}
}

.xten-hero-banner {
	&.xten-component-hero {
		.xten-hero-slide {
			// min-height: calc(65vmin - 10.5rem);
			min-height: 0;
			display: flex;
			width: 100%;
			.container-xten-component-hero {
				align-items: stretch;
			}
		}
	}
	.xten-content-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 30vh;
		@media (min-width: $vp_xl) {
			min-height: 100%;
		}
	}
}

.xten-banner-divider {
	text-align: center;
	min-height: 35vmin;
	display: flex;
	align-items: stretch;
	padding-top: 6rem;
	padding-bottom: 6rem;
	.container {
		display: flex;
		align-items: center;
		min-height: 100%;
	}
	.xten-content {
		max-width: 140rem;
		@at-root body.blog & {
			max-width: 70rem;
		}
		margin-left: auto;
		margin-right: auto;
		> * {
			margin-bottom: 0;
			&:not(:first-child) {
				margin-top: 3rem;
			}
		}
	}
	.anchor-btn-cta {
		display: inline-block;
	}
}
/*   /Hero Banner   */
[data-tooltip] {
	position: relative;
	#{$active} {
		&:after {
			opacity: 1;
			transform: translate3d(-50%, 0, 0) scaleY(1);
		}
	}
	&:after{
		content: attr(data-tooltip);
		font-size: 1.6rem;
		font-weight: 500;
		padding: .5em 1em;
		background-color: $primary;
		@include theme-card-style;
		color: $white;
		text-shadow: 0 .1em .1em $primary;
		position: absolute;
		z-index: 105;
		bottom: 100%;
		left: 50%;
		transform: translate3d(-50%, 0, 0) scaleY(0);
		transform-origin: 50% 100%;
		opacity: 0;
		@include smoother-transition;
		word-break: normal;
		white-space: normal;
		line-height: 1.25;
		width: max-content;
		// max-width: calc( 100vw - 6rem );
		max-width: 12em;
	}
}
.collapse {
	@include smoothest-transition;
}
.preventExpandedCollapse {
	&[aria-expanded="true"] {
		cursor: default;
	}
}
.form-control {
	&.search-field {
		border-top-left-radius: $border-radius-theme-style-em;
		border-bottom-left-radius: $border-radius-theme-style-em;
		padding: .5em;
	}
}
.page-link {
	color: $primary;
}
.header-search-wrapper {
	background-color: $primary;
}

/*   Modal   */
.modal-content {
	padding: 6rem;
	@media (max-width: $vp_m - 1) {
		padding: 3rem;
		.contact-form-wrapper {
			padding: 3rem;
		}
	}
	@include theme-card-style( $border-radius-theme-style-rem-lg );
	border-radius: 3rem;
	.close {
		position: absolute;
		right: 0;
		top: 0;
		text-shadow: none;
		opacity: 1 !important;
		width: 2em;
		height: 2em;
		border-radius: $border-radius-theme-style-em;
		font-size: 2.6rem;
		@media (max-width: $vp_m - 1) {
			font-size: 1.75rem;
		}
	}
}
/*   /Modal   */
.xten-section {
	.container-flud,
	.container {
		.xten-section {
			.container-fluid,
			.container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
.iframe {
	display: block;
	border: 0;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
/*   /Common   */

/*   Header   */

.site-branding {
  display: flex;
	align-items: center;
	.anchor-site-phone-number {
		font-size: 4.455vmin;
		@media (min-width: 450px) {
			font-size: 3rem;
		}
		@media (min-width: $vp_sm) {
			font-size: 3.5rem;
		}
		margin-left: 1.5rem;
		border-left: .2rem solid $secondary;
		padding-left: 1.5rem;
	}
	.site-phone-number {
		display: inline-block;
		line-height: 1;
		@media (min-width: $vp_sm) {
			margin-top: -0.25em;
		}
	}
}
.main-navigation {
	padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: .75rem !important;
	> ul {
		li {
			margin-left: 0;
			&.menu-type-flyout,
			&.menu-type-mega-menu {
				.sub-menu {
					width: 24rem;
					li {
						a {
							// TODO: Build these color choices into customizer
							// AND simplify this selector in parent theme.
							@include smoothest-transition;
							#{$active} {
								background-color: $secondary;
								color: $primary;
							}
						}
					}
				}
				a {
					padding-left: .375em;
				}
			}
		}
		li.menu-type-flyout a,
		li.menu-type-mega-menu a,
		.menu-item-has-children,
		.menu-type-mega-menu,
		.page_item_has_children {
			padding-right: .375em;
		}
		> li {
			&,
			&.current-menu-item,
			&.current_page_item {
				a {
					&:before {
						height: .2rem;
						background-image: none;
						background-color: $secondary;
					}
				}
			}
			a {
				&:before {
					background-color: $primary;
				}
			}
		}
	}
}
.header-search-toggle {
  font-size: 2rem;
  color: $primary;
  padding: 0.375em;
  margin-right: -.375em;
}
.header-wrapper,
.service-categories-list-scroll-nav,
html.nav-open .mobile-sidebar,
.close-layer,
.modal,
.modal-backdrop {
	transform: translateZ(1000px);
}
.mobile-sidebar,
.mobile-sidebar.collapse {
	transform: translate3d(100%,0,1000px);
}
// TODO: Add Customizer Setting to turn scrolledPastHeader styles off.
.header-wrapper:not(.sizeHeaderRefClone) .site-header .navbar .header-container .site-branding .custom-logo-link .custom-logo {
	@include smoothest-transition;
	@at-root body.scrolledPastHeader & {
		max-height: 5rem;
	}
}
.header-container {
	> :not(:first-child) {
		@at-root body.xten-mobile-menu-active & {
			margin-left: 1.5rem;
		}
	}
	> button {
		white-space: nowrap;
	}
}
.site-header {
	.custom-logo {
		[data-name="hideable-objects"] {
			@include smoothest-transition;
			transform-origin: 50% 50%;
			@at-root body.scrolledPastHeader & {
				opacity: 0;
				transform: translateZ(0) scaleY(0);
			}
		}
	}
}
/*   Mobile Menu   */
#mobile-main-navigation .menu li a,
.mobile-search {
	background-color: $primary;
}
.mobile-search {
	.search-field,
	.search-form button {
		color: $secondary;
		background-color: $primary-light;
		border-color: $white;
	}
}
#mobile-main-navigation .menu li {
	border-color: $secondary;
	&.is-showing {
		> a {
			color: $secondary;
		}
	}
	> a {
		border-color: $secondary;
	}
}
#mobile-main-navigation .menu.is-showing > a,
#mobile-main-navigation .sub-menu {
	border-left-color: $secondary;
}
#mobile-main-navigation {
	.menu.is-showing > a,
	.sub-menu {
		border-left-color: $secondary;
	}
	.menu.is-showing > a,
	.sub-menu li a {
		background-color: $primary-dark;
	}
	.sub-menu-toggler {
		background-color: $secondary;
	}
}
/*   /Mobile Menu   */
/*   /Header   */

/*   Footer   */
.site-footer {
  background-color: $white;
	background-image: none;
	.footer-wrapper {
		display: flex;
		flex-wrap: wrap;
		flex: 0 1 auto;
		justify-content: center;
		@media (min-width: $vp_lg) {
			justify-content: flex-start;
		}
		@media (max-width: $vp_xxl) {
			flex-basis: auto;
		}
	}
	.footer-content-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media (min-width: $vp_xxl) {
			justify-content: space-between;
			flex-wrap: nowrap;
		}
		.component-social-media-icon {
			color: $primary;
			#{$active} {
				color: $secondary;
			}
		}
	}
	.site-logo-wrapper {
		width: auto;
		min-width: initial;
		flex: 1 0 auto;
		max-width: 100%;
		margin-bottom: 3rem;
		margin-right: 0;
		text-align: center;
		@media (min-width: $vp_xl) {
			flex: 1 1 34%;
		}
		@media (min-width: $vp_xxl) {
			margin-bottom: 0;
			margin-right: 3rem;
		}
	}
	.component-offices-list {
		justify-content: center;
		@include flex-margin( .75rem );
		@media (min-width: $vp_xs) {
			@include flex-margin( 1.5rem );
		}
		@media (min-width: $vp_xl) {
			@include flex-margin( 1.5rem );
			justify-content: flex-start;
		}
	}
	.component-office {
		width: 28.9rem;
		max-width: 100%;
		@media(min-width: $vp_xs) {
			max-width: calc(50% - 3rem);
		}
		@media(min-width: $vp_lg) {
			max-width: calc(33% - 3rem);
		}
		@media(min-width: $vp_xl) {
			max-width: calc(20% - 3rem);
		}
		.office-title,
		.office-content {
			font-size: 2rem;
		}
		.office-coming-soon {
			font-size: 2.5rem;
		}
	}
	.office-title-content-wrapper {
		min-width: 20rem;
	}
}

.footer-wrapper {
	@include flex-margin( 1.5rem );
}

.footer-1-wrapper {
	flex: 1 0 auto;
	width: calc(100% - 3rem);
	@media (min-width: $vp_xxl) {
		max-width: calc(100% - 3rem);
		width: auto;
	}
}
.footer-2-wrapper,
.footer-3-wrapper {
  flex: 1 1 calc(50% - 3rem);
	display: flex;
  justify-content: center;
	align-items: center;
}
.site-info-footer-wrapper {
  background-color: $primary;
}
.site-info {
	max-width: 90rem;
	a {
		&,
		&:hover {
			color: $white;
			text-decoration: underline;
		}
	}
}
/*   /Footer   */

.accreditations-list {
  display: flex;
	justify-content: space-between;
	align-items: center;
	@include flex-margin( .75rem );
	> * {
		max-width: calc(33% - 1.5rem);
	}
}

/*   Home Page   */

/*   Hero Section   */

.xten-component-hero {
	&[class*="xten-component-hero"] {
		.xten-hero-slide {
			.xten-content {
				padding-left: 0;
				padding-right: 0;
			}
			&:before {
				@at-root .xten-section-hero & {
					@media (max-width: $vp_sm - 1) {
						background-color: rgba($white, 0.8);
						@include background-blur;
					}
				}
			}
		}
		.slick-arrow {
			@media (max-width: $vp_xs - 1) {
				max-width: calc(15px + 3rem);
			}
		}
	}
	.container-xten-component-hero {
		padding-top: 3rem;
		padding-bottom: 3rem;
		@media (min-width: $vp_xs) {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}
	.xten-content {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		@media (min-width: $vp_m) {
			width: auto;
		}
		@media ( min-width: $vp_xl ) {
			width: 100%;
			flex-direction: row;
			align-items: flex-end;
			// justify-content: space-between;
		}
	}
	.xten-content-inner {
		max-width: 96rem;
		background-color: rgba($white, 0.8);
		@include theme-card-style( $border-radius-theme-style-rem-lg );
		@include background-blur;
		width: 100%;
		padding: 3rem;
		@media (min-width: $vp_xs) {
			padding: 6rem;
		}
		@media (min-width: $vp_xl) {
			width: auto;
			// min-width: 81.4rem;
			min-width: 47.381%;
		}
		> * {
			margin-bottom: 0;
			&:not(:first-child) {
				margin-top: 1.5rem;
			}
		}
	}
	h1 {
		line-height: 1;
	}
	p {
		@include prominent-p;
	}
	@media (max-width: $vp_xs - 1) {
		h1 {
			font-size: 4rem;
		}
		h2 {
			font-size: 3.3rem;
		}
		p {
			font-size: 2.5rem;
		}
	}
	.xten-content-outer {
		position: relative;
		.component-social-media-icons-list {
			right: 0;
			bottom: 0;
			margin: 2.25rem -.75rem -.75rem;
			@media ( min-width: $vp_m ) and (max-width: ($vp_xl - 1)) {
				margin-top: 0;
				margin-left: 2.25rem;
			}
		}
	}
	.social-media-google-reviews-wrapper {
		margin-top: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		@media ( min-width: $vp_m ) and (max-width: ($vp_xl - 1)) {
			flex-direction: row;
			justify-content: center;
		}
		@media ( min-width: $vp_xl ) {
			width: auto;
			margin-left: auto;
		}
		.wp-google-place {
			@media ( min-width: $vp_xl ) {
				width: 100%;
				max-width: 50rem;
			}
		}
	}
	&.sizeHero {
		&:not(.heroSized) {
			.slick-arrow {
				@media (max-width: $vp_sm - 1) {
					top: calc(50vh - 10.5rem);
				}
			}
		}
	}
	.slick-arrow {
		font-size: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		@media (max-width: $vp_sm - 1) {
			height: 1.5em;
			&:before {
				color: $primary;
			}
		}
		/*
		&:hover {
			background: none;
			&:before {
				background-color: rgba($white, .75);
				width: 100%;
				height: 200%;
			}
		}*/
		&:before {
			display: inline-block;
			// width: 2em;
			// height: 2em;
			// background-color: $white;
			// color: $primary;
			// @include background-blur;
			padding: .5em;
			// @include theme-card-style;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			// left: 50%;
			// top: 50%;
			// transform: translate3d(-50%, -50%, 0);
		}
	}
	.slick-next {
		&,
		&:focus {
			background-image: linear-gradient(270deg,rgba($white, 0.4),transparent);
		}
		&:hover {
			background-image: linear-gradient(270deg,rgba($white, 0.8),transparent);
		}
	}
	.slick-prev {
		&,
		&:focus {
			background-image: linear-gradient(90deg,rgba($white, 0.4),transparent);
		}
		&:hover {
			background-image: linear-gradient(90deg,rgba($white, 0.8),transparent);
		}
	}
}
.xten-hero-slide {
	&[data-content-horizontal-location="left"] {
		.xten-content {
			justify-content: flex-start;
		}
	}
	&[data-content-horizontal-location="middle"] {
		.xten-content {
			justify-content: center;
		}
	}
	&[data-content-horizontal-location="right"] {
		.xten-content {
			justify-content: flex-end;
		}
	}
}
/*   /Hero Section   */

/*   Service Categories Section   */
.xten-section-service-categories {
	.anchor-btn-cta-wrapper {
		text-align: center;
		margin-top: 3rem;
	}
}
/*   /Service Categories Section   */

/*   Accordion Section   */

.component-accordions-list,
.component-service {
	border-radius: $border-radius-theme-style-rem-sm;
	@include card-style;
  overflow: hidden;
}
.component-accordion {
  background-color: $white;
}
.accordion-control {
	overflow: hidden;
	@include card-style;
	@include smoothest-transition;
	&:not([aria-expanded="true"]) {
		box-shadow: 0 0 transparent;
		.fa-check {
			&:before {
				content: '\f128';
			}
		}
		.collapse-control-indicator {
			&.fa-minus {
				&:before {
					content: '\f067';
				}
			}
		}
	} 
}
.accordion-title {
	color: $primary;
}
.collapse-control-icon,
.collapse-control-indicator {
	background-color: $primary;
	color: $white;
}
.accordion-content {
	p,
	ul,
	ol {
		@include leading-p;
	}
}

/*   /Accordion Section   */
.xten-text-box {
	@include theme-card-style( $border-radius-theme-style-rem-lg );
	@include white-gradient;
	&.primary-gradient {
		@include primary-gradient;
		color: $white;
	}
	flex: 1 1 auto;
	@at-root #were-mobile & {
		@media (min-width: $vp_lg) {
			max-width: 59.5rem;
		}
	}
	padding: 3rem;
	grid-row: 2;
	grid-column: 1;
	@media ( min-width: $vp_xl ) {
		grid-column: 2;
		padding: 6rem;
	}
	> :last-child {
		margin-bottom: 0;
	}
}
/*   WP Block Overrides   */
.wp-block-media-text {
	align-content: stretch;
	grid-template-columns: 34% 1fr;
	flex-wrap: wrap;
	&[class*="wp-block-media-text"] {
		@include flex-margin(3rem);
		margin-top: 3rem;
	}
	&.is-stacked-on-mobile {
		@media ( max-width: ($vp_xl - 1) ) {
			grid-template-columns: 100% !important;
		}
		&.keep-image-on-bottom {
			.wp-block-media-text__media {
				order: 2;
			}
		}
	}
	&.has-media-on-the-right {
		grid-template-columns: 1fr 34%;
		.wp-block-media-text__content {
			grid-row: 2;
			@media ( min-width: $vp_xl ) {
				grid-row: 1;
			}
		}
		.wp-block-media-text__media {
			grid-column: 1;
			@media ( min-width: $vp_xl ) {
				grid-column: 2;
			}
		}
	}
	&.is-image-fill {
		figure {
			&.wp-block-media-text__media {
				flex: 1;
				height: auto;
				@include before-spacer;
				@media ( min-width: $vp_xl ) {
					height: 80vmin;
					&:before {
						content: none;
					}
				}
			}
		}
	}
	&.d-flex {
		figure {
			&.wp-block-media-text__media {
				height: auto;
				align-self: stretch;
			}
		}
	}
	.wp-block-media-text__media {
		@include theme-card-style( $border-radius-theme-style-rem-lg );
		@media ( min-width: $vp_xl ) {
			grid-row: 2;
		}
		min-width: 40rem;
	}
	.wp-block-media-text__content {
		@extend .xten-text-box;
	}
}
.wp-block-media-text__media {
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.wp-block-columns {
	&,
	> .wp-block-column {
		max-width: 100%;
	}
	&.row-gap-3 {
		margin-top: -3rem;
		margin-bottom: -3rem;
		> .wp-block-column {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
	}
	&.stack-bp-xl {
		flex-direction: column;
		@media (min-width: $vp_xl) {
			flex-direction: row;
		}
		&.column-gap-3 {
			@media (min-width: $vp_xl) {
				margin-left: -3rem;
				margin-right: -3rem;
			}
			> .wp-block-column {
				margin-left: 0;
				margin-right: 0;
				@media (min-width: $vp_xl) {
					margin-left: 3rem;
					margin-right: 3rem;
				}
			}
		}
	}
}
.hentry {
	.wp-block-quote {
		&:before,
		&:after {
			content: none;
		}
		font-size: 2rem;
		text-align: center;
		background-color: $white;
		@include theme-card-style($border-radius-theme-style-rem-lg);
		padding: 6rem;
		border-left: 0;
		&.blockquote-large {
			font-size: 3rem;
		}
		p {
			font-size: inherit;
			font-weight: 500;
			margin-bottom: .5em;
			position: relative;
			color: $primary;
			padding: 1em 1em 0;
			&:before,
			&:after {
				@include font-awesome-font;
				position: absolute;
				top: 0;
				color: $secondary;
			}
			&:before {
				content: '\f10d';
				left: 0;
			}
			&:after {
				content: '\f10e';
				right: 0;
			}
		}
		cite {
			font-size: .8em;
			opacity: .7;
			&:before {
				content: '\2013\ ';
			}
		}
	}
}
/*   /WP Block Overrides   */
/*   Google Review Slider   */
.wpac {
	.wp-google-place {
		display: flex;
		align-items: center;
		background-color: rgba($white, .8);
		@include background-blur;
	}
}
.google-reviews-place-clone {
	.anchor-btn-cta {
		margin-top: 3rem;
	}
}
.wp-google-place-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wp-google-place {
	background-color: $white;
	@include theme-card-style($border-radius-theme-style-rem-sm);
}
.wp-stars {
	white-space: nowrap;
}
.component-google-review-slider {
	a {
		color: $primary;
	}
	.wp-google-reviews {
		@include theme-card-style($border-radius-theme-style-rem-lg);
		overflow: hidden;
	}
	&[class*="component-google-review-slider"] {
		.slick-arrow,
		.slick-arrow:focus {
			background-image: none;
			background-color: $secondary;
			&:before {
				color: $primary;
			}
			@at-root .alt-bg:nth-child(2n+1) & {
				background-color: $primary;
				&:before {
					color: $white;
				}
			}
		}
	}
	.wp-google-url {
		@include btn;
		@include btn-theme-style;
		@include btn-large;
		margin-top: 1em;
	}
	.wp-more-toggle {
		color: $primary;
	}
}
/*   /Google Review Slider   */
/*   Contact Section   */
.office-location-icon,
.office-featured-image-wrapper {
	width: 18.5rem;
}
/*   /Contact Section   */

/*   /Home Page   */

/*   About Page   */
/*   Staff Section   */
#staff {
	.xten-section-description {
		margin-bottom: 6rem;
	}
}
/*   /Staff Section   */
/*   Office Locations Section   */
.map-marker-Calimesa {
	@media(max-width: 434px) {
		right: 0;
	}
}
/*   /Office Locations Section   */
.xten-component-image-gallery {
	.nav-slider-wrapper {
		padding: .5275% 1.055%;
	}
	.nav-slider {
		border-radius: 0 0 3rem 3rem;
		overflow: hidden;
		&.slick-slider {
			.slick-slide {
				&.slick-center {
					background-color: $secondary;
				}
			}
		}
	}
} 
/*   /About Page   */

/*   Blog Page   */
.content-wrapper {
	> .main-container {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.article-container {
	.listed-post {
		@include theme-card-style( $border-radius-theme-style-rem-sm );
		overflow: hidden;
	}
}
.post-category-title {
	font-family: $font-fam-primary;
}
.sub-footer {
	&.row {
		> * {
			width: 100%;
		}
	}
}
/*   /Blog Page   */

/*   Single Blog Post   */
.xten-content-inner {
	.post-date {
		text-align: center;
		font-family: $font-fam-primary;
		font-weight: 500;
	}
}
body {
	&.single-post {
		.entry-content {
			.section {
				padding-top: 6rem;
				padding-bottom: 6rem;
				&:not(:first-child) {
					border-top: $thin-gray-line;
				}
			}
		}
		.site-main {
			padding-bottom: 12rem;
		}
	}
}
/*   /Single Blog Post   */

/*   Bootstrap Overrides   */
.modal-lg,
.modal-xl {
	@media (min-width: $vp_m) {
	 max-width:80rem;
	}
}
/*   Bootstrap Overrides   */

/*   Event Card   */
.event-card-wrapper {
	&:not(:first-child) {
		margin-top: 6rem;
	}
	&:not(:last-child) {
		margin-bottom: 6rem;
	}
}
.event-card {
	padding: 1em;
	display: inline-block;
	color: $white;
	line-height: 1;
}
.event-title {
	font-size: 1.25em;
	line-height: 1;
	margin-bottom: .25em;
	padding-bottom: .25em;
	border-bottom: .2rem solid $secondary;
}
.event-date-time {
	font-size: .85em;
	margin: 0;
}
.event-date-name,
.event-time-name {
	width: 1em;
	padding-right: .25em;
}
/*   /Event Card   */

/*   Slick Overrides   */
.slick-dots {
	&[class*='slick-dots'] {
		li {
			button {
				background-color: $primary;
				@at-root .xten-component-hero & {
					@media (min-width: $vp_sm) {
						background-color: $white;
					}
				}
			}
		}
	}
}
/*   /Slick Overrides   */