@import 'variables';

/*   Common   */

html {
	font-size: 2vmin;
	@media (min-width: 400px) and (min-height: 400px) {
		font-size: 8px;
	}
	@media (min-width: 576px) {
		font-size: 10px;
	}
}
body {
	font-size: 100%;
	color: $dark;
	@media (min-width: 340px) {
		min-width: 340px;
		max-width: 100%;
		overflow-x: hidden;
	} 
}
body,
.font-fam-primary,
h2,
.xten-h2 {
	font-family: $font-fam-primary;
}
h1,
.xten-h1,
h2,
.xten-h2,
h3,
.xten-h3,
h4,
.xten-h4,
h5,
.xten-h5,
h6,
.xten-h6,
.font-fam-secondary {
	font-family: $font-fam-secondary;
}
h1,
.xten-h1,
h2,
.xten-h2,
h3,
.xten-h3,
h4,
.xten-h4,
h5,
.xten-h5,
h6,
.xten-h6 {
	&.font-fam-primary {
		font-family: $font-fam-primary;
	}
}


.btn {
  font-size: 1.8rem;
	font-weight: 600;
	&.btn-theme-style {
		background-color: $secondary;
		border-radius: 0.435em;
		color: $primary;
		padding: .25em .5em;
	}
}

.fa-phone {
	&.phone-icon-fix {
		transform: translateZ(0) rotate(137.5deg);
	}
}

/*   /Common   */

/*   Header   */

.site-branding {
  display: flex;
	align-items: center;
	.anchor-site-phone-number {
		font-size: 3.5rem;
		margin-left: 1.5rem;
		border-left: .2rem solid rgb(135, 199, 245);
		padding-left: 1.5rem;
	}
	.site-phone-number {
		display: inline-block;
		line-height: 1;
		margin-top: -0.25em;
	}
}
.main-navigation {
	padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: .75rem !important;
	> ul {
		li {
			margin-left: 0;
			&.menu-type-flyout,
			&.menu-type-mega-menu {
				a {
					padding-left: .375em;
				}
			}
		}
		li.menu-type-flyout a,
		li.menu-type-mega-menu a,
		.menu-item-has-children,
		.menu-type-mega-menu,
		.page_item_has_children {
			padding-right: .375em;
		}
		> li {
			&,
			&.current-menu-item,
			&.current_page_item {
				a {
					&:before {
						height: .2rem;
						background-image: none;
						background-color: $secondary;
					}
				}
			}
			a {
				&:before {
					background-color: $primary;
				}
			}
		}
	}
}
.header-search-toggle {
  font-size: 2rem;
  color: $primary;
  padding: 0.375em;
  margin-right: -.375em;
}

/*   /Header   */

/*   Footer   */
.site-footer {
  background-color: $white;
	background-image: none;
	.footer-wrapper {
		flex: 1 0 auto;
		margin-left: 3rem;
	}
	.footer-content-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.site-logo-wrapper {
		width: auto;
		min-width: initial;
		flex: 0 1 auto;
	}
	.component-offices-list {
		@include flex-margin( 1.5rem );
	}
	.component-office {
		width: 28.9rem;
	}
}
.site-info-footer-wrapper {
  background-color: $primary;
}
.site-info {
	max-width: 90rem;
	a {
		&,
		&:hover {
			color: $white;
			text-decoration: underline;
		}
	}
}
/*   /Footer   */