@import 'variables';

.component-footnote {
	display: inline-block;
  font-size: 1.4rem;
  vertical-align: super;
  line-height: 1;
  margin: 0;
  padding: 0.25em 0.5em;
  position: relative;
  color: $primary;
	cursor: default;
	transform: translateZ(0);
	#{$active} {
		color: $white;
		&:before {
			background-color: $primary;
		}
	}
	&:nth-child(even) {
		&:before {
			background-color: $secondary-light;
		}
		#{$active} {
			color: $white;
			&:before {
				background-color: $primary;
			}
		}
	}
	&,
	&:before {
		@include smoother-transition;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 50%;
		background-color: $secondary;
		border: $border-card-style;
		transform: translate3d(-50%, -50%, 0);
		z-index: -1;
	}
	.fa {
		font-size: .7em;
	}
}

